@import "/css/style.css";

.more {
  display: flex;
  flex-wrap: wrap;
}

.tags {
  background-color: var(--color-alt);
  color: var(--color);
}

.tags:hover {
  color: var(--background-color);
  background-color: var(--color-orange);
}


.more-tags,
.more-dotfiles,
.more-source {
  padding-right: 4em;
  padding-left: 4em;
  margin: 4px;
  flex: 15%;
}

.more-tags>p,
.more-dotfiles>p,
.more-source>p {
  color: var(--color);
  margin: 0;
}

.more-tags                { border-color: var(--color-orange) }
.more-dotfiles            { border-color: var(--color-green)  }
.more-source              { border-color: var(--color-purple) }

.more-tags:hover          { background-color: var(--color-orange) }
.more-dotfiles:hover      { background-color: var(--color-green)  }
.more-source:hover        { background-color: var(--color-purple) }

.more-tags:hover>p,
.more-dotfiles:hover>p,
.more-source:hover>p { color: var(--background-color) }

.github,
.linkedin,
.raylib,
.more-tags,
.more-dotfiles,
.more-source {
  border-style: solid;
  border-width: 2px;
}

.github                        { border-color: var(--color-purple) }
.linkedin                      { border-color: var(--color-azure)  }
.raylib                        { border-color: var(--color-blue)   }

.github:hover                  { background-color: var(--color-purple) }
.linkedin:hover                { background-color: var(--color-azure)  }
.raylib:hover                  { background-color: var(--color-blue)   }

.github>hgroup>h3,
.raylib>hgroup>h3,
.linkedin>hgroup>h3            { font-size: 1.2em }
.github>hgroup>p,
.raylib>hgroup>p,
.linkedin>hgroup>p             { font-size: 1em }

.github:hover>hgroup>h3,
.github:hover>hgroup>p,
.raylib:hover>hgroup>h3,
.raylib:hover>hgroup>p,
.linkedin:hover>hgroup>h3,
.linkedin:hover>hgroup>p       { color: var(--background-color) }
