---
layout: list
title: Blog
description: Meu blog pessoal
---
{% for post in site.posts %}
<article class="card">
  <a id="post" class="post-link" href="{{ post.url }}">
  {% if post.thumb == null %}
    <img
      class="card-img-top"
      src="/assets/img/posts/thumbnail/placeholder.webp"
    >
  {% else %}
    <img
      class="card-img-top"
      src="/assets/img/posts/thumbnail/{{ post.thumb }}"
    >
  {% endif %}
  <hgroup>
    <h3>{{ post.title }}</h3>
    <p>{{ post.description }}</p>
  </hgroup>
    <div class="tags">
      {% for tags in post.tags %}
        <a class="btn btn-primary tags" href="/tags.html#{{ tags }}">{{ tags }}</a>
      {% endfor %}
    </div>
  </a>
</article>
{% endfor %}
