---
title: Bem-vindo!
---
{% include header.html %}

    <main class="container">

      <div class="welcome">
        <hgroup>
          <h1>Bem-vindo(a) ao meu website!</h1>
          <p style="max-width:60ch">
            Aqui eu falo sobre assuntos envolvendo partes do meu cotidiano,
            coisas relacionadas à minha experiência com a programação, com o
            mundo Linux e também outros softwares open-source.
          </p>
        </hgroup>
      </div>
      
      <div class="center">

        <article class="card">
            <img src="/assets/img/github.webp">
            <h3>
              Meu Github
            </h3>
            <p>
              Local onde você pode encontrar meus projetos e outras coisas em que
              estou trabalhando.
            </p>
            <a href="https://github.com/tukainpng" class="btn btn-primary">
              Dar uma olhada
            </a>
        </article>

        <article class="card">
          <img src="/assets/img/linkedin.webp">
          <h3>
            Meu LinkedIn
          </h3>
          <p>
            Local onde você pode entrar em contato comigo, ver onde
            trabalhei e quais são as minhas conexões.
          </p>
          <a href="https://www.linkedin.com/in/diogo-fernandes-710193282/" class="btn btn-primary">
            Dar uma olhada
          </a>
        </article>

      </div>

    </main>

{% include footer.html %}
