:root {
  --background:     #1f1f1f;
  --background-alt: #0d0d0d;
  --foreground:     #ffffff;
  --grey:           #303030;
  --red:            #f81118;
  --green:          #2dc55e;
  --yellow:         #ecba0f;
  --blue:           #2a84d2;
  --purple:         #4e5ab7;
  --cyan:           #1081d6;
}
