@import "/assets/css/highlight.css";
:root {
  --background:     #1f1f1f;
  --foreground:     #ffffff;
  --grey:           #303030;
  --red:            #f81118;
  --green:          #2dc55e;
  --yellow:         #ecba0f;
  --blue:           #2a84d2;
  --purple:         #4e5ab7;
  --cyan:           #1081d6;

  font-family: "Noto Sans", "Sans";
}

* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  opacity: 80%;
}

hr {
  border-width: 1px;
  border-color: var(--foreground);
}

blockquote {
  border-left: solid 2px var(--blue);
  margin-left: 1em;
  padding: 10px;
  background-color: var(--grey);
  color: var(--blue);
}

figcaption,
cite > p,
blockquote > p {
  color: inherit;
  background-color: inherit;
}

main {
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 6em;
  background-color: var(--background);
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, .5);
}

nav {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  background-color: var(--grey);
  font-size: small;
}

nav > ul > li {
  display: inline;
  list-style: none;
  margin-left: 1em;
  margin-right: 1em;
}

nav > ul > li > a {
  color: var(--foreground);
}

hgroup {
  margin-bottom: 10px;
}

article {
  border: solid 2px var(--grey);
  transition: all 0.2s;
}

article:hover {
  border-color: var(--blue);
}

p,
hr,
ul,
ol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

footer {
  position: absolute;
  clear: both;
  left: 0;
  bottom: 0;
  padding: 1em 0;
  text-align: center;
  width: 100%;
  background-color: var(--grey);
  overflow: hidden;
}

footer > p {
  margin: 0;
  padding: 0;
}

.card {
  padding: 1em;
  padding-bottom: 2em;
  min-width: 16em;
  max-width: 16em;
  margin: 0.5em;
  background-color: var(--background);
  border-radius: 5px;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, .5);
}

.card img {
  border-radius: 5px;
  width: 100%;
  height: 100px;
  margin-bottom: 1em;
  object-fit: cover;
}

.card > p {
  margin-bottom: 1em;
}

.container {
  display: block;
  margin-left: 1em;
  margin-right: 1em;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.welcome {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
}

.btn-primary,
.btn-secondary {
  background-color: var(--background);
  color: var(--foreground);
}

.btn-primary {
  border: solid 2px var(--blue);
}

.btn-secondary {
  border: solid 2px var(--cyan);
}

.btn-primary:hover {
  background-color: var(--blue);
  color: var(--background);
}

.btn-secondary:hover {
  background-color: var(--cyan);
  color: var(--background);
}

.post article {
  border: none;
}

.post hgroup > h1 {
  font-size: 3em;
  margin: 0 !important;
}

.post hgroup > p {
  font-size: 1.5em;
}

.post-link {
  color: var(--foreground);
}

.post {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post img {
  border-radius: 10px;
}

.post h1 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.post-content > h1 {
  border-bottom: 2px solid var(--grey);
}

ul,
ol,
.post p {
  font-size: 1.3em;
}

.sobre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 80ch;
}

.sobre h1 {
  font-size: 3em;
}

.sobre p {
  font-size: 1.5em;
}

.thumbnail {
  display: flex;
  border-radius: 5px;
  width: 256px;
  height: 100px;
  margin-bottom: 1em;
  background-color: var(--grey);
}

.thumbnail > p {
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.post-thumbnail {
  display: flex;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  margin-bottom: 1em;
  background-color: var(--grey);
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, .5);
}

.post-thumbnail > p {
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
}

.post-content img {
  margin-bottom: 1em;
  min-width: 600px;
  max-width: 600px;
  max-height: 300px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 3px var(--grey);
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, .5);
}

.alert {
  border: solid 5px var(--background);
  background-color: var(--red);
  color: var(--background);
  padding: 3em;
}

table, th, td {
  border: solid 2px var(--grey);
  padding: 5px;
  border-collapse: collapse;
}

table {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border: none;
  overflow: scroll;
}

th, td {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
}

th {
  font-weight: bold;
  background-color: var(--grey);
}

th:hover {
  opacity: 80%;
}

td:hover {
  background-color: var(--grey);
  opacity: 50%;
}

.highlight {
  padding: 1em;
  margin: 0;
  overflow: scroll;
}

@media only screen and (orientation: portrait) {
  nav {
    font-size: smaller;
  }

  .container {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  .sobre {
    margin: 0;
    padding: 0;
  }

  .sobre h1 {
    font-size: 1.5em;
  }

  .sobre p {
    font-size: 1em;
  }

  .post hgroup > h1 {
    font-size: 1.5em;
    margin: 0 !important;
  }

  .post hgroup > p {
    font-size: 1em;
  }

  .post {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .post h1 {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .post-content img {
    min-width: 120px;
    max-width: 300px;
  }

  .post-thumbnail {
    max-width: 300px;
    max-height: 150px;
  }

  ul,
  ol,
  .post p {
    font-size: 1em;
  }

}

