* {
  margin: 0;
  padding: 0;
  transition: all 1s;
}

:root {
  --background:     #282A36;
  --background-alt: #44475A;
  --foreground:     #F8F8F2;
  --red:            #FF5555;
  --green:          #50FA7B;
  --yellow:         #F1FA8C;
  --blue:           #6272A4;
  --purple:         #BD93F9;
  --cyan:           #8BE9FD;

  font-family: monospace;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  opacity: 90%;
}

hr {
  border-width: 1px;
}

main {
  padding-left: 3em;
  padding-right: 3em;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, .5);
}

nav {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 3em;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-alt);
  font-size: medium;
}

nav > ul > li {
  display: inline;
  list-style: none;
  margin-left: 1em;
  margin-right: 1em;
}

nav > ul > li > a {
  color: var(--foreground);
}

hgroup {
  margin-bottom: 10px;
}

article {
  border: solid 3px var(--blue);
}

p,
hr,
ul,
ol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

footer {
  margin-top: 8em;
  padding: 1em;
  bottom: 0;
  text-align: center;
  height: 5em;
}

.card {
  padding: 1em;
  padding-bottom: 2em;
  width: 16em;
  margin: 0.5em;
  background-color: var(--background-alt);
  border-radius: 5px;
}

.card img {
  border-radius: 5px;
  width: 100%;
  height: 100px;
  margin-bottom: 1em;
  object-fit: cover;
}

.card > p {
  margin-bottom: 1em;
}

.container {
  display: block;
  margin-left: 1em;
  margin-right: 1em;
}

.compacto {
  margin-left: 5em;
  margin-right: 5em;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.welcome {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--blue);
  color: var(--foreground);
}

.btn-secondary {
  background-color: var(--foreground);
  color: var(--background);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
}

.tag-group {
  display: flex;
  flex-wrap: flex;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post article {
  border: none;
}

.post hgroup > h1 {
  font-size: 3em;
  margin: 0 !important;
}

.post hgroup > p {
  font-size: 1.5em;
}

.post-link {
  color: var(--foreground);
}

.post {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post img {
  border-radius: 10px;
}

.post h1 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul,
ol,
.post p {
  font-size: 1.3em;
}

.avatar {
  display: block;
  float: right;
  margin: 1em;
  max-width: 400px;
  border-radius: 5px;
  border: solid 2px var(--blue);
}

.sobre {
  max-width: 80ch;
}

.sobre h1 {
  font-size: 4em;
}

.sobre p {
  font-size: 2em;
}

@media only screen and (orientation: portrait) {
  nav {
    font-size: smaller;
  }

  .container {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .compacto {
    margin-left: 2em;
    margin-right: 2em;
  }

  .avatar {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    float: none;
  }

  .sobre h1 {
    font-size: 2em;
  }

  .sobre p {
    font-size: 1.2em;
  }

  .post hgroup > h1 {
    font-size: 2em;
    margin: 0 !important;
  }

  .post hgroup > p {
    font-size: 1.3em;
  }

  .post {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .post h1 {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  ul,
  ol,
  .post p {
    font-size: 1.1em;
  }

}
