{% include head.html %}
<header>
  <nav>
    <ul>
      <li>
        <a href="/blog.html">
          Blog 
        </a>
      </li>
    </ul>
    <ul>
      <li>
        {{ page.date | date: '%d/%m/%Y' }}
      </li>
    </ul>
  </nav>
</header>
<main class="post">
  <article>
    <div class="center">
      <div class="post-thumbnail">
        <p class="center">
          {{ page.thumbnail }}
        </p>
      </div>
    </div>
    <hgroup>
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>
    </hgroup>
    <hr>
    <div class="post-content">
      {{ content }}
    </div>
{% include footer.html %}
