{% include head.html %}
  <body>
    <header>
      <nav>
        <ul class="desktop">
        <li>
          <a href="/blog.html">Blog</a> / {{ page.date | date: "%Y" }} / {{ page.date | date: "%m" }} / {{ page.date | date: "%d" }} / {{ page.title }}
        </li>
        </ul>
        <ul class="mobile">
          <li>
            <a href="/blog.html">Blog</a>
          </li>
        </ul>
      </nav>
    </header>
    <main style="max-width:80ch" class="container center post">

    <article>
      {% if page.thumb contains "placeholder.webp" or page.thumb == null %}
        <div class="post-thumbnail">
          <p class="center">???</p>
        </div>
      {% else %}
        <div class="post-thumbnail">
          <p class="center">{{ page.thumb }}</p>
        </div>
      {% endif %}
      <hgroup>
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
      </hgroup>
      <hr>

      <div class="post-content">
        {{ content }}
      </div>

    <script src="/assets/scripts/bootstrap.js"></script>
    <script src="/assets/scripts/prism.js"></script>
    </article>
  </main>
{% include footer.html %}
