{% include head.html %}
{% include navbar_tutorial.html %}
<main class="post">
  <article>
    <div class="center">
    {% if page.draft %}
      <div class="alert post-thumbnail">
        <p class="center">
          Artigo em produção!
        </p>
      </div>
      {% else %}
      <div class="post-thumbnail">
        <p class="center">
          {{ page.thumbnail }}
        </p>
      </div>
    {% endif %}
    </div>
    <hgroup>
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>
    </hgroup>
    <hr>
    <div class="post-content">
      {{ content }}
    </div>
</main>
{% include footer.html %}
